@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600;700;800&display=swap");

/* RESET */


*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--BG);
}
body {
    border: 0;
    padding: 20px;
    height: 90vh;
    width: 120vh;
    background-color: #f9f4e8;
}

.logo {
    display: flex;
    align-items: center;
}

.innerlogo {
    border-radius: 20px;
    border: 2px solid rgb(255, 192, 203);
    background-image: linear-gradient(rgb(238, 94, 118),rgb(255, 165, 0 ));
    color: #fff;
    height: 30px;
    text-align: center;
    margin: 10px;
    display: flex;
    align-items: center; 
    padding: 0 11px;
}
.nav1 ul ,
.specialist
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav1 ul a,
.specialist
{
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.nav1 li:hover
{
    color: blue;
    cursor: pointer;
}
.nav2 li:hover{
    color: blue;
    cursor: pointer;
}
.nav2{
    margin-left:auto;
}
.nav2 ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav2 ul a{
    text-decoration: none;
    color: black;
    margin-left:25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
button{
    color: #fff;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin-left:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    }
button:hover{
    background-color:rgba(0, 0, 255, 0.509);
    transition: 0.5s;
}
.body-container{
    display: flex;
}
.text h1 {
    font-size: 60px;
    color: black;
    
}
.text p{
    color: yellow;

}
.text{
   margin: 10px 0;
   padding: 50px;
   color: rgba(128, 128, 128, 0.681);
   
}
.inputtags{
    display: flex;
    align-items: center;
}
input{
    padding: 15px;
    width: 300px;
    border-radius: 10px;
   border: 2px solid white;
}
.plh::placeholder{
   color:#000000a7; 
   font-size:18px;

}
.check-mark{
    display: flex;
margin: 10px;
}
.no-spam{
    margin: -1px 25px;
}
.icons{
    display: flex;
    align-items: center;
    padding: 25px 50px  ;
}
.icons h3 {
    padding: 0 25px 3px;
    font-size: 20px;
    color: #000000a7;
}


.picture{
    padding: 200px 150px;
    margin: -30px 50px 23px;
}
.first-picture{
    padding: 20px 0 0 -15px;
   

}
.second-picture{
    margin: -500px 0 0 -10px;

}
.third-picture{
    margin: -480px 0 0 -10px;
   
}
.fourth-picture{
    margin: -450px 0 0 30px;

}
.avatar-text{
    display: flex;
align-items: center;
padding: 90px 0;
}
.avatar-text h3{
    padding-left: 20px;
}
.specialist:hover{
    color: red;
    cursor: pointer;
}

/* TABLET */

@media screen and (min-width: 425px) and (max-width: 768px) {
    .picture img {
      width: 240px;
    }
  
    .fourth-picture,
    .third-picture,
    .second-picture,
    .first-picture {
      top: 60px;
    }
  
    .content__text__subscribe {
      flex-direction: row;
      gap: 15px;
    }
  
    .content__text h1 {
      font-size: 40px;
      line-height: 40px;
    }
  
    .content__text p {
      font-size: 0.9rem;
      line-height: 20px;
    }
  
    input,
    button {
      padding: 16px;
      font-size: 0.8rem;
    }
  
    input {
      width: 230px;
    }
  
    .content__no-spam img {
      margin: 0 5px;
    }
  
    footer {
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
    }
  
    .footer__links {
      margin: 0 0 0 20px;
    }
  
    .footer__links a {
      font-size: 0.9rem;
      margin: ;
    }
  
    .footer__help {
      display: inherit;
    }
  
    .footer__help img {
      width: 35px;
    }
  
    .footer__help h2,
    .footer__help p {
      font-size: 0.9rem;
    }
  
    /* Sandwich menu */
    .header__links,
    .header__invite {
      right: auto;
      width: 95vw;
      text-align: center;
    }
  }
  
  /* Desktop */
  
  @media screen and (min-width: 769px) {
    body {
      margin: auto;
      max-width: 900px;
    }
  
    .header {
      margin: 20px 5px;
    }
  
    .header__sandwich {
      display: none;
    }
  
    .header__logo {
      gap: 10px;
    }
  
    .header__sandwich__menu {
      position: inherit;
      display: inherit;
      gap: 90px;
    }
  
    .header__links,
    .header__invite {
      position: inherit;
      flex-direction: row;
      gap: 10px;
      padding: 0px;
      justify-content: space-between;
      font-size: 14px;
      background-color: inherit;
      border: none;
      margin: 0;
    }
  
    .header__links a,
    .header__invite a {
      width: inherit;
      border: none;
      padding: 0;
    }
  
    .header__links {
      gap: 30px;
    }
  
    .header__invite a {
      width: 50px;
    }
  
    .header__invite button {
      padding: 15px 10px;
      margin: 0;
      font-size: 14px;
      width: 120px;
    }
  
    /*  */
  
    .content.flex {
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 70px;
      margin: 100px 0 70px;
    }
  
    .content__img img {
      width: 300px;
      margin: 0;
    }
  
    .img--layer4,
    .img--layer3,
    .img--layer2,
    .img--layer1 {
      top: -40px;
      left: 20px;
      right: 0;
      margin: 0;
    }
  
    .content__text {
      width: 60%;
    }
  
    .content__img {
      width: 40%;
    }
  
    .content__text__subscribe {
      flex-direction: row;
    }
  
    .content__text h1,
    .content__text p {
      margin: 0;
    }
  
    input {
      width: 250px;
      margin: 6px 10px 6px 0;
      font-size: 14px;
      padding: 16px;
    }
  
    .content__text__subscribe button {
      padding: 16px;
      font-size: 14px;
    }
  
    .content__no-spam img {
      margin: 14.5px 0;
    }
  
    .content__no-spam p {
      margin: 12px 0;
    }
    .footer {
      justify-content: space-between;
    }
  
    .footer__help {
      display: inherit;
    }
  
    .footer__help img {
      width: 36px;
    }
  
    .footer__help h2 {
      font-size: 16px;
    }
  }